.followers-section {
  margin-bottom: 1.3rem;
}
.followers-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.7rem;
  padding: 0 4rem 0 0.7rem;
}
.follower-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.4rem 0;
  gap: 0.4rem;
  border-radius: 0.3rem;
  background-color: var(--card-footer-color);
}
.follower-profile {
  background-color: var(--primary-color);
  overflow: hidden;
  width: 35%;
}
.follower-profile img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.follower-card button {
  background-color: var(--secondary-color);
  color: var(--text-secondary);
  padding: 0.3rem;
  border: none;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}
@media screen and (max-width: 1150px) {
  .followers-container {
    grid-template-columns: repeat(4, 1fr);
    padding: 0.7rem;
  }
}
@media screen and (max-width: 922px) {
  .followers-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 765px) {
  .followers-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .followers-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 412px) {
  .followers-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 293px) {
  .followers-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
